@tailwind base;
@tailwind components;
@tailwind utilities;

.waving-hand {
  webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: wave;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
  margin-left: 4px;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(35deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
